Repository dojot/dojot, pull requests merged in 2020-07, with the labels that each got.

#1520 Update MQTT library version in V2K
  connector/mqtt/vernemq/v2k-bridge/app/MQTTClient.js
  connector/mqtt/vernemq/v2k-bridge/package-lock.json
  connector/mqtt/vernemq/v2k-bridge/package.json
  connector/mqtt/vernemq/v2k-bridge/test/unit/MqttClient.test.js
Labels: Epic:100K_IoTDevices, Team:Backend, Type:Enhancement, service:V2K

#1497 [feat]: Locust integration with x509 identity mgmt
  connector/mqtt/locust/Docker/docker-compose-slave.yml
  connector/mqtt/locust/Docker/scripts/generate_certs/docker-compose.yml
  connector/mqtt/locust/src/config.py
  connector/mqtt/locust/src/dojot/api.py
  connector/mqtt/locust/src/ejbca/cert_utils.py
  connector/mqtt/locust/src/ejbca/certificate.py
  connector/mqtt/locust/src/ejbca/thing.py
  connector/mqtt/locust/src/scripts/generate_certs.py
  connector/mqtt/locust/tests/dojot/test_api.py
  connector/mqtt/locust/tests/ejbca/test_cert_utils.py
  connector/mqtt/locust/tests/ejbca/test_certificate.py
Labels: Epic:100K_IoTDevices, Team:Backend, Team:Security, Type:Feature

#1501 change in x509 certificate request scripts
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/_initVariables.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/createCSR.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/retrieveCACertificate.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/saveFormattedCRT.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/signCert.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/vmq_dojot.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/_initVariables.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/createCSR.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/ejbca_client.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/retrieveCACertificate.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/saveFormattedCRT.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/signCert.sh
  connector/mqtt/vernemq/v2k-bridge/bin/entryPoint.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/createCSR.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/ejbca_client.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/retrieveCACertificate.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/saveFormattedCRT.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/signCert.sh
Labels: Epic:100K_IoTDevices, Team:Backend, Team:Security, Type:Feature, service:K2V, service:V2K

#1519 [bugfix][kafka-ws] Implementation of the ticket mechanism
  subscription-engine/kafka-ws/Dockerfile
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/App.js
  subscription-engine/kafka-ws/app/Config.js
  subscription-engine/kafka-ws/app/Redis/RedisExpireMgmt.js
  subscription-engine/kafka-ws/app/Redis/RedisManager.js
  subscription-engine/kafka-ws/app/Server.js
  subscription-engine/kafka-ws/app/Terminus.js
  subscription-engine/kafka-ws/app/Utils.js
  subscription-engine/kafka-ws/app/WebsocketTarball.js
  subscription-engine/kafka-ws/app/routes/AccessControlRouter.js
  subscription-engine/kafka-ws/app/routes/TicketRouter.js
  subscription-engine/kafka-ws/app/routes/TopicsRouter.js
  subscription-engine/kafka-ws/app/services/TicketService.js
  subscription-engine/kafka-ws/docs/apiary.apib
  subscription-engine/kafka-ws/examples/README.md
  subscription-engine/kafka-ws/examples/WSClient/Client.js
  subscription-engine/kafka-ws/examples/WSClient/package-lock.json
  subscription-engine/kafka-ws/examples/WSClient/package.json
  subscription-engine/kafka-ws/examples/docker-compose.yml
  subscription-engine/kafka-ws/index.js
  subscription-engine/kafka-ws/jest.setup.js
  subscription-engine/kafka-ws/package-lock.json
  subscription-engine/kafka-ws/package.json
  subscription-engine/kafka-ws/test/integration/AccessControl.test.js
  subscription-engine/kafka-ws/test/integration/WSServer.test.js
  subscription-engine/kafka-ws/test/unit/Server.test.js
  subscription-engine/kafka-ws/test/unit/Utils.test.js
Labels: Team:Backend, Type:Enhancement, service:kafka-ws

#1532 [fix] Endpoint change to facilitate API Gateway redirection
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/App.js
  subscription-engine/kafka-ws/docs/apiary.apib
  subscription-engine/kafka-ws/examples/WSClient/Client.js
  subscription-engine/kafka-ws/test/integration/AccessControl.test.js
Labels: Team:Backend, Type:Enhancement, service:kafka-ws

#1537 Feature: sdk logger with default console transport
  util/microservice-sdk/js/README.md
  util/microservice-sdk/js/examples/consumer/sample.js
  util/microservice-sdk/js/examples/logging/index.js
  util/microservice-sdk/js/examples/producer/sample.js
  util/microservice-sdk/js/lib/logging/Logger.js
  util/microservice-sdk/js/test/unit/logging/Logger.test.js
Labels: Team:Backend, Type:Feature

#1539 Feature: sdk logger with default console transport (#1537)
  util/microservice-sdk/js/README.md
  util/microservice-sdk/js/examples/consumer/sample.js
  util/microservice-sdk/js/examples/logging/index.js
  util/microservice-sdk/js/examples/producer/sample.js
  util/microservice-sdk/js/lib/logging/Logger.js
  util/microservice-sdk/js/test/unit/logging/Logger.test.js
Labels: Team:Backend, Type:Feature

#1543 [fix] Gevent version is not fixed in Locust
  connector/mqtt/locust/Docker/docker-compose-master.yml
  connector/mqtt/locust/Docker/docker-compose-slave.yml
  connector/mqtt/locust/Docker/scripts/generate_certs/docker-compose.yml
  connector/mqtt/locust/requirements/prod.txt
Labels: Epic:100K_IoTDevices, Team:Backend, Type:Bug :bug:

#1542 [fix] Gevent version is not fixed in Locust
  connector/mqtt/locust/Docker/docker-compose-master.yml
  connector/mqtt/locust/Docker/docker-compose-slave.yml
  connector/mqtt/locust/Docker/scripts/generate_certs/docker-compose.yml
  connector/mqtt/locust/requirements/prod.txt
Labels: Epic:100K_IoTDevices, Team:Backend, Type:Bug :bug:

#1546 [fix] Missing comma in VerneMQ Dockerfile entrypoint arguments
  connector/mqtt/vernemq/broker/Dockerfile
Labels: Epic:100K_IoTDevices, Team:Backend, Type:Bug :bug:

#1545 [fix] Fixes Locust problems with revoke, renew and gevent version
  connector/mqtt/locust/Docker/docker-compose-master.yml
  connector/mqtt/locust/Docker/docker-compose-slave.yml
  connector/mqtt/locust/Docker/scripts/generate_certs/docker-compose.yml
  connector/mqtt/locust/requirements/prod.txt
  connector/mqtt/locust/src/ejbca/cert_utils.py
  connector/mqtt/locust/src/ejbca/certificate.py
  connector/mqtt/locust/src/mqtt_locust/mqtt_client.py
  connector/mqtt/locust/tests/ejbca/test_certificate.py
  connector/mqtt/locust/tests/mqtt_locust/test_mqtt_client.py
Labels: Epic:100K_IoTDevices, Team:Backend, Type:Bug :bug:

#1561 chore: [subscription-engine/kafka-ws] Add ticket feature in kafka-ws from dev
  subscription-engine/kafka-ws/Dockerfile
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/App.js
  subscription-engine/kafka-ws/app/Config.js
  subscription-engine/kafka-ws/app/Redis/RedisExpireMgmt.js
  subscription-engine/kafka-ws/app/Redis/RedisManager.js
  subscription-engine/kafka-ws/app/Terminus.js
  subscription-engine/kafka-ws/app/Utils.js
  subscription-engine/kafka-ws/app/WebsocketTarball.js
  subscription-engine/kafka-ws/app/routes/AccessControlRouter.js
  subscription-engine/kafka-ws/app/routes/TicketRouter.js
  subscription-engine/kafka-ws/app/routes/TopicsRouter.js
  subscription-engine/kafka-ws/app/services/TicketService.js
  subscription-engine/kafka-ws/docs/apiary.apib
  subscription-engine/kafka-ws/examples/README.md
  subscription-engine/kafka-ws/examples/WSClient/Client.js
  subscription-engine/kafka-ws/examples/WSClient/package-lock.json
  subscription-engine/kafka-ws/examples/WSClient/package.json
  subscription-engine/kafka-ws/examples/docker-compose.yml
  subscription-engine/kafka-ws/index.js
  subscription-engine/kafka-ws/jest.setup.js
  subscription-engine/kafka-ws/package-lock.json
  subscription-engine/kafka-ws/package.json
  subscription-engine/kafka-ws/test/integration/AccessControl.test.js
  subscription-engine/kafka-ws/test/integration/WSServer.test.js
  subscription-engine/kafka-ws/test/unit/Utils.test.js
Labels: Team:Backend, Type:Enhancement, service:kafka-ws

#1566 [subscription-engine] Small fixes
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/App.js
  subscription-engine/kafka-ws/app/Config.js
  subscription-engine/kafka-ws/app/Kafka/KafkaConsumer.js
  subscription-engine/kafka-ws/app/Kafka/KafkaTopicsConsumerCallbacksMgmt.js
  subscription-engine/kafka-ws/app/Redis/RedisExpireMgmt.js
  subscription-engine/kafka-ws/app/Redis/RedisManager.js
  subscription-engine/kafka-ws/app/Terminus.js
  subscription-engine/kafka-ws/app/WebsocketTarball.js
  subscription-engine/kafka-ws/app/WhereProcessing/WhereParser.js
  subscription-engine/kafka-ws/app/services/TicketService.js
  subscription-engine/kafka-ws/index.js
Labels: Team:Backend, Type:Enhancement, service:kafka-ws

#1568 [kafka-ws] [release] Small fixes
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/App.js
  subscription-engine/kafka-ws/app/Config.js
  subscription-engine/kafka-ws/app/Kafka/KafkaConsumer.js
  subscription-engine/kafka-ws/app/Kafka/KafkaTopicsConsumerCallbacksMgmt.js
  subscription-engine/kafka-ws/app/Redis/RedisExpireMgmt.js
  subscription-engine/kafka-ws/app/Redis/RedisManager.js
  subscription-engine/kafka-ws/app/Terminus.js
  subscription-engine/kafka-ws/app/WebsocketTarball.js
  subscription-engine/kafka-ws/app/WhereProcessing/WhereParser.js
  subscription-engine/kafka-ws/app/services/TicketService.js
  subscription-engine/kafka-ws/index.js
Labels: Team:Backend, Type:Enhancement, service:kafka-ws

#1570 Update development branch (merge from release/v0.5.0-alpha)
  connector/mqtt/locust/requirements/prod.txt
  connector/mqtt/locust/src/config.py
  connector/mqtt/locust/src/dojot/api.py
  connector/mqtt/locust/src/ejbca/cert_utils.py
  connector/mqtt/locust/src/ejbca/certificate.py
  connector/mqtt/locust/src/ejbca/thing.py
  connector/mqtt/locust/src/mqtt_locust/mqtt_client.py
  connector/mqtt/locust/src/scripts/generate_certs.py
  connector/mqtt/locust/tests/dojot/test_api.py
  connector/mqtt/locust/tests/ejbca/test_cert_utils.py
  connector/mqtt/locust/tests/ejbca/test_certificate.py
  connector/mqtt/locust/tests/mqtt_locust/test_mqtt_client.py
  connector/mqtt/vernemq/broker/Dockerfile
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/_initVariables.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/createCSR.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/retrieveCACertificate.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/saveFormattedCRT.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/signCert.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/vmq_dojot.sh
  connector/mqtt/vernemq/broker/src/dojot_disconnect_plugin/src/dojot_disconnect_plugin.erl
  connector/mqtt/vernemq/k2v-bridge/README.md
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/_initVariables.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/createCSR.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/ejbca_client.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/retrieveCACertificate.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/saveFormattedCRT.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/signCert.sh
  connector/mqtt/vernemq/v2k-bridge/app/MQTTClient.js
  connector/mqtt/vernemq/v2k-bridge/bin/entryPoint.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/createCSR.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/ejbca_client.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/retrieveCACertificate.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/saveFormattedCRT.sh
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/signCert.sh
  connector/mqtt/vernemq/v2k-bridge/package-lock.json
  connector/mqtt/vernemq/v2k-bridge/package.json
  connector/mqtt/vernemq/v2k-bridge/test/unit/MqttClient.test.js
  x509-identity-mgmt/Dockerfile
  x509-identity-mgmt/ejbca/README.md
  x509-identity-mgmt/ejbca/bin/dojot-custom/configuration-variables.sh
  x509-identity-mgmt/ejbca/bin/dojot-custom/exec.sh
Labels: service:K2V, service:V2K, vernemq:plugin

#1569 [enhancement] Small fixes in K2V and V2K
  connector/mqtt/vernemq/k2v-bridge/README.md
  connector/mqtt/vernemq/k2v-bridge/app/config.js
  connector/mqtt/vernemq/k2v-bridge/bin/entryPoint.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/_initVariables.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/ejbca_client.sh
  connector/mqtt/vernemq/v2k-bridge/README.md
  connector/mqtt/vernemq/v2k-bridge/app/config.js
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/ejbca_client.sh
Labels: Team:Backend, Type:Enhancement, service:K2V, service:V2K

#1572 [release] [enhancement] Small fixes in K2V and V2K
  connector/mqtt/vernemq/k2v-bridge/README.md
  connector/mqtt/vernemq/k2v-bridge/app/config.js
  connector/mqtt/vernemq/k2v-bridge/bin/entryPoint.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/_initVariables.sh
  connector/mqtt/vernemq/k2v-bridge/bin/scripts_tls/ejbca_client.sh
  connector/mqtt/vernemq/v2k-bridge/README.md
  connector/mqtt/vernemq/v2k-bridge/app/config.js
  connector/mqtt/vernemq/v2k-bridge/bin/scripts_tls/ejbca_client.sh
Labels: Team:Backend, Type:Enhancement, service:K2V, service:V2K

#1576 [release] Add EJBCA variable default value in K2V
  connector/mqtt/vernemq/k2v-bridge/bin/entryPoint.sh
Labels: Team:Backend, Type:Bug :bug:, service:K2V

#1577 Add EJBCA variable default value in K2V
  connector/mqtt/vernemq/k2v-bridge/bin/entryPoint.sh
Labels: Team:Backend, Type:Bug :bug:, service:K2V
