Repository dojot/dojot, pull requests merged in 2020-10, with the labels that each got.

#1743 [release v0.5.0][x509-identity-mgmt] A little bit about error responses in the API documentation
  x509-identity-mgmt/js/apidocs/api-description.apib
Labels: Type:Documentation

#1744 [development][x509-identity-mgmt] A little bit about error responses in the API documentation
  x509-identity-mgmt/js/apidocs/api-description.apib
Labels: Type:Documentation

#1748 [dev] Update API documentation
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/Errors/ErrorCodes.js
  subscription-engine/kafka-ws/docs/apiary.apib
Labels: Team:Backend, Type:Documentation, service:kafka-ws

#1742 [v0.5.0] Review Locust Documentation
  connector/mqtt/locust/README.md
  connector/mqtt/locust/src/scripts/README.md
Labels: Team:Backend, Type:Documentation

#1757 [v0.5.0] Update Kafka WS API documentation
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/Errors/ErrorCodes.js
  subscription-engine/kafka-ws/docs/apiary.apib
Labels: Team:Backend, Type:Documentation, service:kafka-ws

#1759 [dev] Fix in Kafka WS documentation
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/docs/apiary.apib
Labels: Type:Documentation

#1779 Add ConfigManager
  .github/workflows/v2k-bridge.yml
  codecov.yml
  connector/mqtt/vernemq/v2k-bridge/.npmrc
  connector/mqtt/vernemq/v2k-bridge/Dockerfile
  connector/mqtt/vernemq/v2k-bridge/README.md
  connector/mqtt/vernemq/v2k-bridge/app/AgentMessenger.js
  connector/mqtt/vernemq/v2k-bridge/app/MQTTClient.js
  connector/mqtt/vernemq/v2k-bridge/app/config.js
  connector/mqtt/vernemq/v2k-bridge/bin/entryPoint.sh
  connector/mqtt/vernemq/v2k-bridge/config/default.conf
  connector/mqtt/vernemq/v2k-bridge/config/load_test.conf
  connector/mqtt/vernemq/v2k-bridge/index.js
  connector/mqtt/vernemq/v2k-bridge/package-lock.json
  connector/mqtt/vernemq/v2k-bridge/package.json
  connector/mqtt/vernemq/v2k-bridge/test/unit/AgentMessenger.test.js
  connector/mqtt/vernemq/v2k-bridge/test/unit/MqttClient.test.js
  connector/mqtt/vernemq/v2k-bridge/test/unit/utils.test.js
Labels: Team:Backend, Type:Enhancement, service:V2K

#1781 Fix env var in default.conf
  connector/mqtt/vernemq/v2k-bridge/README.md
  connector/mqtt/vernemq/v2k-bridge/config/default.conf
  connector/mqtt/vernemq/v2k-bridge/config/docker.conf
Labels: Team:Backend, Type:Bug :bug:, Type:Feature, service:V2K

#1816 [v2k-bridge] Correct links in README
  connector/mqtt/vernemq/v2k-bridge/README.md
Labels: Type:Documentation, service:V2K
