Repository dojot/dojot, pull requests merged in 2020-11, with the labels that each got.

#1828 [k2v] Add ConfigManager
  .github/workflows/k2v-bridge.yml
  connector/mqtt/vernemq/k2v-bridge/.npmrc
  connector/mqtt/vernemq/k2v-bridge/Dockerfile
  connector/mqtt/vernemq/k2v-bridge/README.md
  connector/mqtt/vernemq/k2v-bridge/app/AgentMessenger.js
  connector/mqtt/vernemq/k2v-bridge/app/MqttClient.js
  connector/mqtt/vernemq/k2v-bridge/app/config.js
  connector/mqtt/vernemq/k2v-bridge/bin/entryPoint.sh
  connector/mqtt/vernemq/k2v-bridge/config/default.conf
  connector/mqtt/vernemq/k2v-bridge/config/development.conf
  connector/mqtt/vernemq/k2v-bridge/config/docker.conf
  connector/mqtt/vernemq/k2v-bridge/index.js
  connector/mqtt/vernemq/k2v-bridge/package-lock.json
  connector/mqtt/vernemq/k2v-bridge/package.json
  connector/mqtt/vernemq/k2v-bridge/test/unit/agentMessenger.test.js
  connector/mqtt/vernemq/k2v-bridge/test/unit/mqttClient.test.js
  connector/mqtt/vernemq/k2v-bridge/test/unit/utils.test.js
Labels: Team:Backend, Type:Enhancement, service:K2V

#1850 [v2k] Add Health Check and Graceful Shutdown
  connector/mqtt/vernemq/v2k-bridge/Dockerfile
  connector/mqtt/vernemq/v2k-bridge/README.md
  connector/mqtt/vernemq/v2k-bridge/app/AgentMessenger.js
  connector/mqtt/vernemq/v2k-bridge/app/MQTTClient.js
  connector/mqtt/vernemq/v2k-bridge/app/Utils.js
  connector/mqtt/vernemq/v2k-bridge/config/default.conf
  connector/mqtt/vernemq/v2k-bridge/config/development.conf
  connector/mqtt/vernemq/v2k-bridge/index.js
  connector/mqtt/vernemq/v2k-bridge/package-lock.json
  connector/mqtt/vernemq/v2k-bridge/package.json
  connector/mqtt/vernemq/v2k-bridge/test/unit/AgentMessenger.test.js
  connector/mqtt/vernemq/v2k-bridge/test/unit/MQTTClient.test.js
  connector/mqtt/vernemq/v2k-bridge/test/unit/Utils.test.js
Labels: Team:Backend, Type:Enhancement, service:V2K

#1855 [k2v] Add Health Check and Graceful Shutdown
  connector/mqtt/vernemq/k2v-bridge/Dockerfile
  connector/mqtt/vernemq/k2v-bridge/README.md
  connector/mqtt/vernemq/k2v-bridge/app/AgentMessenger.js
  connector/mqtt/vernemq/k2v-bridge/app/MQTTClient.js
  connector/mqtt/vernemq/k2v-bridge/app/Utils.js
  connector/mqtt/vernemq/k2v-bridge/config/default.conf
  connector/mqtt/vernemq/k2v-bridge/index.js
  connector/mqtt/vernemq/k2v-bridge/package-lock.json
  connector/mqtt/vernemq/k2v-bridge/package.json
  connector/mqtt/vernemq/k2v-bridge/test/unit/AgentMessenger.test.js
  connector/mqtt/vernemq/k2v-bridge/test/unit/MQTTClient.test.js
  connector/mqtt/vernemq/k2v-bridge/test/unit/Utils.test.js
  connector/mqtt/vernemq/k2v-bridge/test/unit/agentMessenger.test.js
Labels: Team:Backend, Type:Enhancement, service:K2V

#1866 [locust] Change generate-certs base image to the Locust one
  connector/mqtt/locust/Docker/scripts/generate_certs/Dockerfile
  connector/mqtt/locust/Docker/scripts/generate_certs/docker-compose.yml
Labels: Team:Backend, Type:Enhancement

#1824 [dev] added healthcheck to kafka ws
  subscription-engine/kafka-ws/README.md
  subscription-engine/kafka-ws/app/Kafka/KafkaConsumer.js
  subscription-engine/kafka-ws/app/Kafka/KafkaTopicsConsumerCallbacksMgmt.js
  subscription-engine/kafka-ws/app/Redis/RedisManager.js
  subscription-engine/kafka-ws/app/StateManager.js
  subscription-engine/kafka-ws/config/default.conf
  subscription-engine/kafka-ws/examples/Without Dojot/docker-compose.yml
  subscription-engine/kafka-ws/index.js
  subscription-engine/kafka-ws/jest.setup.js
  subscription-engine/kafka-ws/package-lock.json
  subscription-engine/kafka-ws/package.json
  subscription-engine/kafka-ws/test/integration/AccessControl.test.js
  subscription-engine/kafka-ws/test/integration/Conditions.test.js
  subscription-engine/kafka-ws/test/integration/ProcessingRule.test.js
  subscription-engine/kafka-ws/test/integration/WSServer.test.js
  subscription-engine/kafka-ws/test/unit/ExpirationRedisExpireMgmt.test.js
  subscription-engine/kafka-ws/test/unit/KafkaConsumers.test.js
  subscription-engine/kafka-ws/test/unit/KafkaTopicsConsumerCallbacksMgmt.test.js
  subscription-engine/kafka-ws/test/unit/OperatorValidators.test.js
  subscription-engine/kafka-ws/test/unit/WebsocketTerball.test.js
Labels: Type:Feature
