Repository dojot/dojot, pull requests merged in 2020-09, with the labels that each got.

#1696 Review V2K documentation for v0.5.0 release
  connector/mqtt/vernemq/v2k-bridge/README.md
Labels: Team:Backend, Type:Documentation, service:V2K

#1687 Enhancements to generate_certs script
  connector/mqtt/locust/src/dojot/api.py
  connector/mqtt/locust/src/ejbca/cert_utils.py
  connector/mqtt/locust/src/ejbca/certificate.py
  connector/mqtt/locust/src/mqtt_locust/redis_client.py
  connector/mqtt/locust/src/scripts/generate_certs.py
  connector/mqtt/locust/src/utils.py
  connector/mqtt/locust/tests/dojot/test_api.py
  connector/mqtt/locust/tests/ejbca/test_cert_utils.py
Labels: Team:Backend, Type:Bug :bug:, Type:Enhancement

#1710 [v0.5.0] Change default value for V2K_KAFKA_COMPRESSION_CODEC
  connector/mqtt/vernemq/v2k-bridge/README.md
  connector/mqtt/vernemq/v2k-bridge/bin/entryPoint.sh
Labels: Team:Backend, Type:Documentation, Type:Enhancement, service:V2K

#1706 [dev] Review Loopback documentation
  tools/kafka/loopback/README.md
Labels: Type:Documentation

#1699 [v0.5.0] Review Loopback documentation
  tools/kafka/loopback/README.md
Labels: Type:Documentation

#1695 [v0.5.0] Review K2V documentation
  connector/mqtt/vernemq/k2v-bridge/README.md
Labels: Team:Backend, Type:Documentation, service:K2V

#1707 [dev] Review K2V documentation
  connector/mqtt/vernemq/k2v-bridge/README.md
Labels: Team:Backend, Type:Documentation, service:K2V

#1708 [dev] Review V2K documentation
  connector/mqtt/vernemq/v2k-bridge/README.md
  connector/mqtt/vernemq/v2k-bridge/bin/entryPoint.sh
Labels: Team:Backend, Type:Documentation, service:V2K

#1709 [dev] Review VerneMQ and its plugins' READMEs
  connector/mqtt/vernemq/broker/README.md
  connector/mqtt/vernemq/broker/examples/vernemq.conf
  connector/mqtt/vernemq/broker/src/dojot_acl_plugin/README.md
  connector/mqtt/vernemq/broker/src/dojot_acl_plugin/readme.md
  connector/mqtt/vernemq/broker/src/dojot_disconnect_plugin/README.md
  connector/mqtt/vernemq/broker/src/dojot_disconnect_plugin/readme.md
Labels: Type:Documentation, vernemq:plugin

#1698 [v0.5.0] Review VerneMQ and its plugins READMEs
  connector/mqtt/vernemq/broker/README.md
  connector/mqtt/vernemq/broker/examples/vernemq.conf
  connector/mqtt/vernemq/broker/src/dojot_acl_plugin/README.md
  connector/mqtt/vernemq/broker/src/dojot_acl_plugin/readme.md
  connector/mqtt/vernemq/broker/src/dojot_disconnect_plugin/README.md
  connector/mqtt/vernemq/broker/src/dojot_disconnect_plugin/readme.md
Labels: Type:Documentation, vernemq:plugin

#1720 [Development] fix supercronic processes created a lot
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/checkBrokerCertHasRevoke.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/checkExpirationCertificate.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/vmq_dojot.sh
Labels: Type:Bug :bug:

#1719 [Release] fix supercronic processes created a lot
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/checkBrokerCertHasRevoke.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/checkExpirationCertificate.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/scripts_tls/retrieveCRL.sh
  connector/mqtt/vernemq/broker/bin/vmq_dojot/vmq_dojot.sh
Labels: Type:Bug :bug:

#1727 [dev] Correct problems with the value 0
  subscription-engine/kafka-ws/app/Conditions/Conditions.js
  subscription-engine/kafka-ws/app/WhereProcessing/OperatorValidator.js
  subscription-engine/kafka-ws/test/integration/Conditions.test.js
Labels: Team:Backend, Type:Bug :bug:, service:kafka-ws

#1728 [v0.5.0] Correct problems with the value 0
  subscription-engine/kafka-ws/app/Conditions/Conditions.js
  subscription-engine/kafka-ws/app/WhereProcessing/OperatorValidator.js
  subscription-engine/kafka-ws/test/integration/Conditions.test.js
Labels: Team:Backend, Type:Bug :bug:, service:kafka-ws
