Repository dojot/dojot, pull requests merged in 2021-04, with the labels that each got.

#2065 [cert-sidecar] Configuration parameter changed (Name of the application in which the sidecar will be associated)
  tools/cert-sidecar/README.md
  tools/cert-sidecar/app/certificatesMgmt/Certificates.js
  tools/cert-sidecar/config/default.conf
  tools/cert-sidecar/test/integration/CertificatesMgmt.test.js
Labels: Cert-Sidecar, Team:Backend, Type:Enhancement

#2072 [cert-sidecar] Increasing the request cert timeout
  tools/cert-sidecar/config/default.conf
Labels: Cert-Sidecar, Team:Backend

#2067 [feat][development] vernemq certificate acl integration
  connector/mqtt/vernemq/broker/Dockerfile
  connector/mqtt/vernemq/broker/bin/vernemq.sh
  connector/mqtt/vernemq/broker/src/dojot_acl_plugin/src/dojot_acl_plugin.erl
  connector/mqtt/vernemq/broker/vmq_ssl.erl
Labels: Team:Backend, Type:Feature

#2091 [rel/v0.6.0] Correction of EJBCA script
  x509-identity-mgmt/ejbca/bin/dojot-custom/exec.sh
Labels: Team:Backend, Team:Security, Type:Bug :bug:
